.main-body {
  margin-top: 130px; /* Adjust based on the height of the header */
  margin-bottom: 60px; /* Adjust based on the height of the footer */
  padding: 20px;
  background-color: whitesmoke;
}
