<footer>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <mat-icon style="color: gray;">inventory_2</mat-icon>
    <div class="icon">Catalog</div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <mat-icon style="color: gray;">edit_square</mat-icon>
    <div class="icon">Proposals</div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <mat-icon style="color: gray;">groups</mat-icon>
    <div class="icon">People</div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <mat-icon style="color: gray;">paid</mat-icon>
    <div class="icon">Payments</div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <mat-icon style="color: gray;">more_horiz</mat-icon>
    <div class="icon">More</div>
  </div>
</footer>
